/*
*  footer
*/
#footer_color{background-color: gray;}
#footer_icon ul{list-style-type:none;
               }
#footer_icon ul li{float: left;
            margin:10px 10px 0px 20px;}
#footer_icon ul li a {
    text-decoration: none;
}

#footer_text{
    text-align: center;
     color: white;
    font-size: 16px;
    padding: 10px 0px;
}
#facebook{
    color:#0056b3;
}
#twitter {color:#317eac;}
#google{color:darkred;}
#instagram{color: #b300b3;}


/*
*  full body design
*/
body{color:black;
     font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
     font-size: 16px;  }
.right{float:right;}
.left{float:left;}
/*
* register page
*/
#registe_form{
    background-color: #e6f9ff;
    height:500px;
     color: #317eac;
    font-size: 16px;
    margin-top:-20px;
}
#registe_form legend{
    color: #317eac;
    font-weight: bold;
    font-size: 22px;
    padding:20px 0px;
}
#register_button{
    border-radius: 10px;
     margin-top: 10px;
    background-color: #317eac;
}
#register_button a{
    font-size: 16px;
    color:white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;

}
/*
* login page
*/
#login_form{
    background-color: #e6f9ff;
    height:500px;
     color: #317eac;
    font-size: 16px;
    margin-top:-20px;
}
#login_form legend{
    color: #317eac;
    font-weight: bold;
    font-size: 22px;
    padding:20px 0px;
}
#login_button{
    border-radius: 10px;
     margin-top: 10px;
    background-color: #317eac;
}
#login_button a{
    font-size: 16px;
    color:white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;

}
/*
* Product List page
*/
#product_body{
    color: #317eac;
    background-color: #e6f9ff;
    margin-top: -20px;
}
#product_sidebar{
     font-size: 16px;
}
#product_sidebar h3{
         color: #317eac;
}
#product_sidebar ul{
    list-style: none;
}
#product_sidebar li{
     font-size: 16px;
}
#product_sidebar a{
    text-decoration: none;
    color: #317eac;
}
#product_sidebar a:hover{
    color: #007bff;
}
#product_list{
    background-color: lightgray;
    border: 2px solid lightslategray;
    padding: 10px;
}
#product_list h4,h5{
    color: #317eac;
    padding: 10px 0px;
    text-align: center;
}
#product_description h4{
    color: #317eac;

    text-align: left;
}
#product_description a{
    font-size: 16px;
    text-decoration: none;
    color: #317eac;
    text-align: left;
}
#product_button{
    border-radius: 10px;
    background-color: #317eac;
     margin-top: 20px;
}
#product_button a{
    font-size: 16px;
    color:white;
    text-decoration: none;
    text-align: center;
    background-color: #317eac;

}
.product_img{
    height:150px;width:250px;
    border: 2px solid dimgray;
}
/*
* Product Detail
*/
#product_detail{
   background-color: lightgray;
    text-align: center;
}
#product_detail h2,h3{
    color: #317eac;
}
#product_detail h4{
    color: #317eac;
    margin-bottom: 10px;
}

#product_detail a{
    color: #317eac;
    text-decoration: none;
    margin: 20px 0px 0px 0px;
}
#product_detail img{
    height:150px;width:250px;
    border: 2px solid dimgray;
    margin-bottom: 20px;
}
#back_button{
    border-radius: 10px;
    background-color: #317eac;
    width:100px;
    padding: 10px;
}
#back_button a{
    font-size: 16px;
    color:white;
    text-decoration: none;
    text-align: center;
    background-color: #317eac;

}

/*
* Nav design
*/
#main_nav{
    background-color: #b300b3;
}
/*
* index page
*/
#index{
    background-image:url('/media/images/slide2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    height:550px;
    margin:-40px -40px 0px -40px;
    opacity: .8;
}
#index h1{
    text-align:center;
    color: white;
    padding-top:100px;

}
#index h4{
    text-align:center;
    color: white;
    padding:20px 0px;
    line-height: normal;

}

