
{% extends "products/base.html" %}

{% block content %}

    <div class="container" >
        <div class="row">
            <div class="col-md-12 col-sm-12" >
                <div class="panel panel-default" id="product_detail">
                    <div class="panel-body">
                 <h2>{{ product.name }}</h2>
                 <h3><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h3>
                <hr>
                 <img src="/media/{{ product.image}}"><br>
                        <a href="{{ product.get_absolute_url }}"><b>Product Description:</b>{{ product.description}}</a><br>
                    <h4> Price:${{ product.price }}</h4>
                    {{ product.paypal_form.sandbox }}
                    <br>
                        <button id="back_button"> <a href="#">Back</a></button>
                    </div>

                </div>
             </div>

       </div>
    </div>

{% endblock %}