{% extends "products/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
             <div class="col-sm-3" id="product_sidebar">
              {% block litle %}
                  {% if category %} {{ category.name }} {% else %}
                   {% endif %}
                {% endblock %}


                  <h3>Categories</h3>
                      <ul>
                          <li {% if not category %} class="selected" {% endif %} >
                                <a href="{% url "products:product_list" %}">All</a>
                          </li>
                          {% for c in categories %}
                              <li {% if category.slug == c.slug %} class="selected" {% endif %}>
                                 <a href="{{c.get_absolute_url}}">{{ c.name }}</a>
                               </li>
                          {% endfor %}
            </div>
    <div class="col-sm-9" id="product_list">


    <h1> {% if category %} {{ category.name }} {% else %} Products {% endif %}</h1>
        <hr>
       {% for product in products %}
          <div class="card col-sm-6"  >
              <div class="card-body">
              <h4 class="card-title"> <a href="{{ product.get_absolute_url }}"><b> {{ product.name }}</b> </a></h4>
              <a href="{{ product.get_absolute_url }}" class="story-img">
                 {% if product.image %}

                     <img src="/media/{{ product.image}}"  class="card-img-top"style="height:200px;width:300px;">

                  {% endif %}
              <br>
              </a>
              <br>
             <b> Price:${{ product.price }}<br>
               <a class="card-text" href="{{ product.get_absolute_url }}">Description:{{ product.description|truncatewords:30 }}</a><br>
                 <a href="{{ product.paypal_form.sandbox }}"></a><br>
                 <button class="btn-default"><a href="{% url 'products:product_detail' product.id product.slug%}">
                     More About Product</a></button>
             </div>
          </div>
       {% endfor %}

    </div>
        </div>
        </div>
{% endblock %}