{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <title>Gift Site</title>
    <!-- Custom styles for this project -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
  </head>
<body>
   <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
                    <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Gift</a>
            </div>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="nav navbar-nav navbar-right ">
                    <li><a href="#">Home</a></li>
                    <li><a href="/products/">Choose Your Gift</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>

            </div>
        </div>
   </nav>


       {% block content %}
       {% endblock %}


</div>
</body>

<!-- script references -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js">
</script>
</html>