{% extends 'products/base.html' %}
{% block content %}
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-12 col-sm-12" >
                <div id="index">

                    <h1>Gifts make the world go round</h1>
                    <h4> Find the perfect gift for any occasion- birthdays,<br>
                        anniversaries christenings.
                        Inspiring gift ideas for him and her will help you choose the perfect present. </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}